html {
	font-family: Raleway
	font-size: 1.5rem;
}

body {
	margin: 0px;
	height: 1400px;
}

a {
	color: #fff;
	text-decoration: none;	

}

li {
  margin-bottom: 10px; }


ul {
	padding-left: 0px;
	margin-left: 0px;
}

#main-image {
	height: auto;
	max-width: 150%;
}

#logo {
	position: relative;
	bottom: 530px;
	margin-left: 20px;
	max-width: 30px;
}

#text {
	position: relative;
	bottom: 500px;
	font-family: Raleway;
	color: #fff;
	margin: 0px 20px;
}

#title {
	font-size: 1.9rem;
	width: 300px;
}

#form-session {
	position: relative;
	bottom: 250px;
}

#form-title, #name-label, #survey-form, #dropdown, #work-on, #listings {
	color: #3721f4;
	font-family: Raleway;
	margin: 0px 20px;
}

#form-title {
	width: 300px;
}

#survey-form {
	margin-top: 10px;
}

#name-label, #email-label, #number-label, #dropdown, #work-on, #dropdown {
	color: 	#000;
	margin: 0px;
}

#row {
	margin-top: 20px;
}

#listings {
	margin-left: 0px;
	margin-top: 10px;
	color: #000;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select  {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box;
  margin-top: 10px;
  width: 250px;
  opacity: 0.5;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C;
  outline: 0; }



/* Button
––––––––––––––– */

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

button:hover,
button:focus, {
  color: #333;
  border-color: #888;
  outline: 0; }


button {
  margin-top: 20px;
  color: #FFF;
  background-color: #3721f4;
}


 /* For screen sizes more than 425px;
––––––––––––––– */

@media (min-width: 425px) {
	#logo {
    position: relative;
    bottom: 600px;
    margin-left: 20px;
    max-width: 30px;
    }

    #text {
    position: relative;
    bottom: 550px;
    font-family: Raleway;
    color: #fff;
    margin: 0px 20px;
    }

    #title {
    font-size: 2.1rem;
    width: 400px;
    }


}


/* For screen sizes more than 768px;
––––––––––––––– */

@media (min-width: 768px) {
	#left-landing {
		width: 350px;
	}

    #main-image {
    height: auto;
    width: 700px;
    }

    #text {
    position: relative;
    bottom: 400px;
    font-family: Raleway;
    color: #fff;
    margin: 0px 20px;
    }

    #title {
    font-size: 1.7rem;
    width: 500px;
    }

    #logo {
    position: relative;
    bottom: 480px;
    margin-left: 20px;
    max-width: 25px;
    }

    p {
    	font-size: 8px;
    	letter-spacing: 3px;	
    }

    #form-session {
    position: relative;
    bottom: 155px;
    height: 850px;
    }

    #form-title {
    	width: 500px;
    }

    body {
    	height: 1000px;
    }
}


@media (min-width: 1024px) {

	#main-container {
		height: 500px;
	}

	#form-session {
    position: relative;
    top: 55px;
    height: 570px;
    float: right;
    overflow: auto;
    right: 0px;
    }

    #left-landing {
    width: 440px;
    float: left;
    }

    #text {
    position: relative;
    bottom: 600px;
    font-family: Raleway;
    color: #fff;
    margin: 0px 20px;
    }

    #title {
    	font-size: 50px;
    }

    #logo {
    	bottom: 600px;
    }
}


@media (min-width: 1440px) {

	#form-session {
    position: relative;
    top: 55px;
    height: 450px;
    float: right;
    overflow: auto;
    right: 520px;
    }

    #left-landing {
    width: 550px;
    float: left;
    }
}